.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

#readTable {
    position:absolute;
    top: 24%;
    left: 12%;
    text-align:right;
    font-family:'Arial';
    font-style:oblique;
    font-weight:900;
    font-size:xx-large;
}

#testTable {
    position: absolute;
    top: 24%;
    left: 54%;
    text-align: right;
    font-family: 'Arial';
    font-style: oblique;
    font-weight: 900;
    font-size: xx-large;
    visibility: hidden;
}

    #readTable td, #testTable td {
        position: relative;
        width: 60px;
        height: 30px;
    }

    #testTable td {
        padding: 0;
    }

        #testTable td > input {
            max-width: 30px;
        }